/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
/*
 * The Powder Toy style re-write in LESS.
 * Uses background from jenn4 Image = http://img88.imageshack.us/img88/843/backgroundnu.jpg , http://www.facebook.com/jenn4-art.
 * (c)2012 jenn4, jenn4-art. credit from original source and all the hard work for boxmein.
 *
 * To stylers: Warning, code is extremely beautiful and well formatted, reading it may cause high satisfaction!
 * To-do: write CSS? Anything more

*/
/* Constants */
/* Variable names pretty self-explaining or whatnot */
/*
//simpless:!minify
*/
/* Newest main page stuff */
.main-menu {
  width: 100%;
  height: 34px;
  background-color: #ffeeab !important;
  background-repeat: repeat-x;
  background-image: linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -o-linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -ms-linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -moz-linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -webkit-linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fff3c4), color-stop(100%, #ffeeab)) !important;
  border: 1px solid #ffeeab !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0px 3px 27px rgba(0, 0, 0, 0.08);
}
.form-actions {
  background-color: #ffe478 !important;
  -webkit-box-shadow: 0px 1px 0px #ffeeab inset !important;
  -moz-box-shadow: 0px 1px 0px #ffeeab inset !important;
  -ms-box-shadow: 0px 1px 0px #ffeeab inset !important;
  -o-box-shadow: 0px 1px 0px #ffeeab inset !important;
  box-shadow: 0px 1px 0px #ffeeab inset !important;
}
.outside-header, .breadcrumb {
  background-image: linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -o-linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -ms-linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -moz-linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -webkit-linear-gradient(bottom, #fff3c4 0%, #ffeeab 100%) !important;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fff3c4), color-stop(100%, #ffeeab)) !important;
}
.active a {
  background-image: linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -o-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -ms-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -moz-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fffdf7), color-stop(100%, #fff8de)) !important;
}
.disabled a, .breadcrumb, .outside-header {
  border-color: #ffeeab !important;
  -webkit-box-shadow: 0px 1px 0px #ffeeab inset !important;
  -moz-box-shadow: 0px 1px 0px #ffeeab inset !important;
  -ms-box-shadow: 0px 1px 0px #ffeeab inset !important;
  -o-box-shadow: 0px 1px 0px #ffeeab inset !important;
  box-shadow: 0px 1px 0px #ffeeab inset !important;
}
.btn-info, .btn {
  background-image: linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -o-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -ms-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -moz-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fffdf7), color-stop(100%, #fff8de)) !important;
  background-color: #484848 !important;
}
.alert-warning {
  background-color: #ffeeab !important;
  border-color: #ffeeab !important;
}
.btn-info:hover, .btn:hover {
  background-image: linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -o-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -ms-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -moz-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fffdf7), color-stop(100%, #fff8de)) !important;
}
.btn-group > .dropdown-toggle {
  background-image: linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -o-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -ms-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -moz-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fffdf7), color-stop(100%, #fff8de)) !important;
  background-color: #484848 !important;
}
.dropdown-menu {
  background-color: #ffeeab !important;
}
.main-menu a {
  background-color: none !important;
  border-color: #ffeeab !important;
}
.container,
.pagination ul a,
.btn-info,
.btn-group > .dropdown-toggle,
.form-actions {
  border-color: #ffeeab !important;
}
.main-menu li > a:hover {
  background-image: linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -o-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -ms-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -moz-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-linear-gradient(bottom, #fffdf7 0%, #fff8de 100%) !important;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #fffdf7), color-stop(100%, #fff8de)) !important;
}
html, body {
  background-image: url('http://img839.imageshack.us/img839/6963/bgwhiteb.jpg') !important;
  background-attachment: fixed !important;
}
body {
  color: #ff4800 !important;
}
a {
  color: #ffa200 !important;
  -webkit-text-shadow: 1px 1px 1px #000000 !important;
  -moz-text-shadow: 1px 1px 1px #000000 !important;
  -ms-text-shadow: 1px 1px 1px #000000 !important;
  -o-text-shadow: 1px 1px 1px #000000 !important;
  text-shadow: 1px 1px 1px #000000 !important;
}
input, button, textarea {
  background-image: none !important;
}
a:hover {
  /* omg, addition! */

  color: #ffc422 !important;
}
a.Link {
  color: #CCC !important;
}
/* Mixins */
.border {
  border: 1px solid #ffeeab !important;
}
/* Vendor prefix stuff, repetitive code [Remember to call with .something ()  so it gets the values OK]*/
input, textarea, .Tag {
  background-color: #404040 !important;
  color: #FFF !important;
  resize: vertical;
  border: 1px solid #ffeeab !important;
}
.Conversation {
  border: 1px solid #ffeeab !important;
  margin-bottom: -1px;
}
.Pageheader *, .Pageheader {
  text-shadow: none !important;
}
#PageheaderSearch input {
  border-bottom: none !important;
}
a.Item {
  -webkit-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  -moz-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  -ms-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  -o-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
}
.ScoreMeh {
  color: #ff4800 !important;
}
.ButtonLink,
.fSaveDetails,
.GroupInfo,
.Pageheader,
.Pageheader *,
.PostForm,
.ButtonLink {
  background-color: #ffeeab !important;
  color: #ffa200;
  background-image: none !important;
}
.CUnreadCount {
  background-color: #8b0000 !important;
}
.Item, .Active, .TopContainer {
  -webkit-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  -moz-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  -ms-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  -o-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
}
/* Awesome code tag vs pre tag thread test (Yay, this is official!) */
code, pre {
  background-color: #ffeeab !important;
  border: 1px solid #cccccc;
  white-space: pre;
  /* No wrap, saves spaces to correct level */

  padding: 1px 2px;
  margin: 1px;
}
code {
  display: block;
}
pre {
  display: inline;
  color: #FFF !important;
}
.modal-header, .modal-body, .modal-footer {
  background-color: #ffeeab !important;
}
/* Copyright and footer messages */
.Copyright, .FooterExtra, .Header li a {
  -webkit-text-shadow: 1px 1px 1px #000000 !important;
  -moz-text-shadow: 1px 1px 1px #000000 !important;
  -ms-text-shadow: 1px 1px 1px #000000 !important;
  -o-text-shadow: 1px 1px 1px #000000 !important;
  text-shadow: 1px 1px 1px #000000 !important;
}
/* Various warning / error messages */
.Warning, .Error, .Information {
  background-color: #ffeeab !important;
  border: none !important;
  margin-bottom: 5px;
}
.ParentCategory {
  color: #DDD !important;
}
.Item, .Active {
  -webkit-text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.7) !important;
  -moz-text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.7) !important;
  -ms-text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.7) !important;
  -o-text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.7) !important;
  text-shadow: 2px 0px 3px rgba(0, 0, 0, 0.7) !important;
}
.TopContainer {
  color: #CCC;
  -webkit-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  -moz-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  -ms-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  -o-text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7) !important;
}
/* Make block quotes not take up half the post screen */
blockquote {
  margin: -30px 10px;
}
/* Those "Unread" and "New" notices in Recents and categories */
.Meta span em {
  box-shadow: 0px 0px 5px #FFF !important;
  color: #FFF !important;
}
.Meta {
  border-color: #ffeeab !important;
}
div {
  text-shadow: 0px 0px 0px #241616 !important;
}
/* New */
a.Link,
.Download,
input.EditPlain,
.Meta em,
.Page,
.SaveDetails,
.Subpage,
.View *,
.container.contents {
  background-color: #ffeeab !important;
}
/* In forums perhaps */
li {
  background-color: #FFD191 !important;
}
/* Top links, eg "Download", "Forum", ... */
#Header li {
  background: none !important;
}
h1, .download-buttons {
  color: #FFF !important;
  font-weight: normal;
}
.MessageList {
  border-radius: 3px;
}
/* Forum post colors:  */
.Mine {
  background-color: #211204 !important;
}
.Developer {
  background-color: #1c2d2e !important;
}
.Moderator {
  background-color: #1c2e1c !important;
}
.Administrator {
  background-color: #1c1d2e !important;
}
.Op {
  background-color: #2e1c1c !important;
}
/* TinyMCE colours and stuff */
a.NPage,
.ConUnread,
.mceLayout,
.Pagefooter,
.mceToolbar,
.mceToolbar *,
#AddReplyMessage_ifr {
  background-color: #555 !important;
}
.MessageList,
.Subpage,
.Page,
.Pageheader,
li,
.Item,
.Active,
input,
a.Link,
.Download,
.RecentContainer,
.PostForm,
.Meta em,
ul,
.mceToolbar,
.mceToolbar *,
.Pagefooter,
.View * {
  border-color: #222 !important;
}
.mceLayout, #AddReplyMessage_ifr html, #AddReplyMessage_ifr p {
  background-image: none !important;
}
